@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.gradient-background {
    height: 100%;
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.gradient-background .animated-box {
    position: absolute;
    background: rgba(201, 143, 143, 0.2);
    display: block;
    pointer-events: none;
    border-radius: .5rem;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(0) translateY(-200%) rotate(0deg);
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1) translateY(-500%) rotate(360deg);
    }
}

.navbar {
    overflow: hidden;
    background: white;
    height: 10vh;
    position: fixed;
    top: 0;
    padding: 0 8vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo-section {
    text-align: center;
}

.navbar .logo-section p {
    font-size: 0.8rem;
}

.navbar .navigation {
    width: 35vw;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link a {
    color: black;
}

.link a:hover {
    color: rgb(221, 194, 194);
}

.links {
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 1.5rem;
    color: black;
}

.logo a:hover {
    color: rgb(221, 194, 194);
}

#clockContainer {
    margin-top: 10vh;
    margin-left: 87vw;
    border-radius: 50%;
    position: fixed;
    height: 10vw;
    width: 10vw;
    background: url(../images/clock.png) center no-repeat;
    background-size: 120%;
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.3%;
    height: 16%;
    top: 34%;
    left: 49.355%;
    opacity: 0.8;
}

#minute {
    width: 1.6%;
    height: 22%;
    top: 28%;
    left: 49.2%;
    opacity: 0.8;
}

#second {
    width: 0.8%;
    height: 29%;
    top: 21%;
    left: 49.58%;
    opacity: 0.7;
}

.bodyContainer {
    padding: 0 12vw;
}

.home {
    padding-top: 10vh;
    margin: 15vh 15vw 15vh 0;
}

.heading1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.description {
    font-size: 1.1rem;
    margin: 10vh 0;
}

.btn1 a {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .2s linear;
    font-size: .8rem;
    margin: 10px 0;
    padding: 10px 25px;
    border-radius: 30px;
}

.btn1:hover a {
    letter-spacing: .1rem;
    background-color: white;
    color: black;
}

.divider {
    width: 4rem;
    height: .35rem;
    border-radius: 10px;
    background: black;
    display: block;
}


.projects {
    margin: 10vh 0;
}

.projects .project-cards {
    width: 73vw;
    padding: 10vh 8vw;
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(4, 26vw);
    grid-template-rows: minmax(auto, 1fr);
    overflow-x: scroll;
}

.projects .project-cards .card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28vw;
    height: 80vh;
}

.projects .project-cards .card img {
    width: 300px;
    height: 250px;
    object-fit: contain;
}

.projects .project-cards .card .card-heading {
    font-size: 1.2rem;
}

.card-divider {
    width: 7rem;
    height: .1rem;
    border-radius: 10px;
    background: black;
    display: block;
    margin: 2vh 0;
}

.projects .project-cards .card .des {
    padding: 1vh 0;
    width: 90%;
}

.projects .project-cards .card .des .card-des {
    font-size: .8rem;
}

.projects .project-cards .card .des .stack {
    font-size: .8rem;
    margin: 2vh;
}

.projects .project-cards .card .des .stack ul {
    margin: 1vh;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects .project-cards .card .btn2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projects .project-cards .card button a {
    padding: 1vh 1vw;
    border-radius: 18px;
    font-size: .8rem;
    background-color: black;
    color: white;
    transition: .2s linear;
}

.projects .project-cards .card button:hover a {
    background-color: white;
    color: black;
    letter-spacing: .1rem;
}

.technologies {
    margin: 10vh 0;
}

.technologies .description {
    margin: 5vh;
}

.technologies .tech-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.technologies .tech-section .tech {
    width: 15vw;
    text-align: center;
}

.technologies .tech-section .tech .logo {
    font-size: 2rem;
}

.technologies .tech-section .tech .techname {
    font-size: 1rem;
    font-weight: 600;
}

.aboutme {
    margin: 10vh 0;
}

.aboutme .description {
    margin: 5vh;
}

.aboutme .timeline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutme .timeline .time {
    width: 15vw;
}

.aboutme .timeline .time .year {
    font-size: 1rem;
    font-weight: 600;
}

.achievements {
    margin: 10vh 0;
}

.achievements .cards {
    margin: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.achievements .cards .card {
    border: 1px solid red;
    width: 15vw;
    height: 22vh;
    padding: 1rem;
    border-radius: 15px;
}

.achievements .cards .card .card-head {
    font-size: 2rem;
    font-weight: 300;
}

.achievements .cards .card .card-des {
    font-size: 1.3rem;
}

.contacts {
    margin: 8vh 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts .contact .con-head {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4vh;
}

.contacts .contact .con-des {
    font-size: .9rem;
    font-weight: 600;
}

.footer {
    padding: 0 8vw;
}

.footer-line {
    height: .2vh;
    width: 100%;
    background-color: black;
}

.footerContainer {
    margin: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .description {
    margin: 4vh 0;
}

.footer .description span {
    font-weight: 600;
}